<h1> Exercice </h1>

Vous êtes data analyst et avez récupéré un DataFrame movies contenant des informations sur les sorties de films. Les données comprennent des colonnes pour : 
- le nom du film
- les recettes d'ouverture
- les recettes totales
- le pourcentage des recettes totales
- le nombre de cinémas
- la recette moyenne par cinéma
- la date de sortie et le distributeur

Consignes : 

1) Affichez les cinq premières lignes du DataFrame.
2) Affichez le nombre de lignes et de colonnes du DataFrame.
3) Sélectionnez la colonne "Distributor" et affichez les cinq premières valeurs.
4) Sélectionnez les colonnes "Release" et "Total Gross" et affichez les cinq premières lignes.
5) Utilisez la méthode iloc pour sélectionner et afficher les données de la troisième ligne.
6) Faites du slicing avec loc pour sélectionner les films de l'index 990 au 999 et affichez les colonnes "Release" et "Opening".
7) Faites du slicing avec iloc pour sélectionner les trois dernières lignes du DataFrame et toutes les colonnes.
8) Créez une copie du DataFrame movies et nommez-la movies_copy.

In [35]:
import pandas as pd

movies = pd.read_csv(r'C:\Users\nmako\Documents\Data-Science-Projects-Repository\Pandas_basic\data\raw\Top_Highest_Openings.csv')
movies
df = movies.copy()

In [36]:
df.head(5)

,Release,Opening,Total Gross,% of Total,Theaters,Average,Date,Distributor
0,Avengers: Endgame,357115007,858373000,41.6,4662,76601,26-04-2019,Walt Disney Studios Motion Pictures
1,Spider-Man: No Way Home,260138569,804793477,32.3,4336,59995,17-12-2021,Sony Pictures Releasing
2,Avengers: Infinity War,257698183,678815482,38.0,4474,57599,27-04-2018,Walt Disney Studios Motion Pictures
3,Star Wars: Episode VII - The Force Awakens,247966675,936662225,26.5,4134,59982,18-12-2015,Walt Disney Studios Motion Pictures
4,Star Wars: Episode VIII - The Last Jedi,220009584,620181382,35.5,4232,51987,15-12-2017,Walt Disney Studios Motion Pictures

In [37]:
df.shape

(1000, 8)

In [38]:
df[['Release','Total Gross']].head(5)

                                      Release  Total Gross
0                           Avengers: Endgame    858373000
1                     Spider-Man: No Way Home    804793477
2                      Avengers: Infinity War    678815482
3  Star Wars: Episode VII - The Force Awakens    936662225
4     Star Wars: Episode VIII - The Last Jedi    620181382

In [46]:
#Utilisez la méthode iloc pour sélectionner et afficher les données de la troisième ligne.
df.iloc[[2]] # 3rd row

,Release,Opening,Total Gross,% of Total,Theaters,Average,Date,Distributor
2,Avengers: Infinity War,257698183,678815482,38.0,4474,57599,27-04-2018,Walt Disney Studios Motion Pictures

In [41]:
df.loc[990:999,['Release','Opening']] # 990 to 999 rows

                       Release   Opening
990     The 40-Year-Old Virgin  21422815
991         The Stepford Wives  21406781
992                  Good Boys  21402605
993                 Safe Haven  21401594
994      The Forbidden Kingdom  21401121
995     The Hitman's Bodyguard  21384504
996           Angel Has Fallen  21380987
997  Ice Age: Collision Course  21373064
998     Why Did I Get Married?  21353789
999                      Turbo  21312625

In [45]:
df.iloc[-3:,:] # last 3 rows

,Release,Opening,Total Gross,% of Total,Theaters,Average,Date,Distributor
997,Ice Age: Collision Course,21373064,64063008,33.4,3992,5353,22-07-2016,Twentieth Century Fox
998,Why Did I Get Married?,21353789,55204525,38.7,2011,10618,12-10-2007,Lionsgate Films
999,Turbo,21312625,83028128,25.7,3806,5599,17-07-2013,Twentieth Century Fox