<h1> Exercice 1 </h1>

On vous a donné un ensemble de données nécessitant un nettoyage avant l'analyse. 

Le DataFrame df contient des informations sur des employés, y compris leur catégorie de travail, leur salaire, leur âge, le nombre de visites et leur évaluation.

Avec le DataFrame df fourni, effectuez les tâches suivantes de nettoyage de données :

1) Affichez les cinq premières et les cinq dernières lignes du DataFrame.
2) Obtenez le nombre total de lignes, la taille totale du DataFrame et sa forme.
3) Utilisez describe() pour obtenir un résumé statistique du DataFrame.
4) Réordonnez les colonnes en plaçant 'Employee' comme première colonne.
5) Renommez la colonne 'Category' en 'Department'.
6) Affichez les informations générales du DataFrame avec .info().
7) Vérifiez les types de données de chaque colonne avec dtypes et convertissez la colonne 'Salary' en type numérique.
8) Gérez les valeurs manquantes : identifiez-les, comptez-les, supprimez les lignes avec des valeurs manquantes dans 'Employee', et remplacez les valeurs manquantes dans 'Age' par la médiane.
9) Identifiez et supprimez les lignes en double, en gardant la première occurrence.
10) Remplacez toutes les occurrences de 'not available' dans 'Salary' par NaN.
11) Séparez la colonne 'Date' en deux colonnes distinctes 'Year' et 'Month' en utilisant .split('-').
12) Utilisez .apply() pour créer une nouvelle colonne 'Seniority' basée sur l'âge de l'employé : "Senior" pour plus de 40 ans, "Junior" pour moins.
13) Réinitialisez l'index.
14) Affichez le résumé final de .info() pour le DataFrame nettoyé.

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
file_path = Path(r'C:\Users\nmako\Documents\Data-Science-Projects-Repository\Pandas_basic\data\raw\3_cleaning_data\employes.csv')
data = pd.read_csv(file_path)
df = data.copy()

In [3]:
#1. Afficher les premières et dernières lignes
print(df.head())
print()
print(df.tail())

         Date Category Employee     Salary   Age  Visits  Rating
0  2023-01-01  Finance    Frank   88416.95  40.0      42    3.69
1  2023-01-02   Health      Bob  100063.26  40.0      84    4.89
2  2023-01-03  Finance    Frank   92193.44  35.0      75    4.51
3  2023-01-04  Finance      NaN   88141.82  45.0      68    3.04
4  2023-01-05   Health    Alice   79655.84  35.0       6    1.22

          Date Category Employee     Salary   Age  Visits  Rating
28  2023-01-29      NaN    Frank   86529.38   NaN       0    3.21
29  2023-01-30   Health    Heidi   79026.34  45.0      50    1.66
30  2023-01-01  Finance    Frank   88416.95  40.0      42    3.69
31  2023-01-02   Health      Bob  100063.26  40.0      84    4.89
32         NaN  Finance    Frank   92193.44  35.0      75    4.51

In [ ]:
# 2. Nombre de lignes, taille et forme
print(df.shape)

(33, 7)

In [5]:
# 3. Résumé statistique
(
    df
    .describe()
)

             Age     Visits     Rating
count  30.000000  33.000000  33.000000
mean   35.333333  54.727273   3.291515
std     6.814454  28.318802   1.249683
min    25.000000   0.000000   1.040000
25%    30.000000  41.000000   2.440000
50%    35.000000  58.000000   3.260000
75%    40.000000  76.000000   4.510000
max    45.000000  99.000000   4.920000

In [6]:
# 4. Réordonner les colonnes
df = df[['Employee','Date', 'Category', 'Salary', 'Age', 'Visits', 'Rating']]
df

   Employee        Date   Category         Salary   Age  Visits  Rating
0     Frank  2023-01-01    Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02     Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03    Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04    Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05     Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06  Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07     Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08     Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09        NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10        NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11    Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12    Finance  not available  45.0      15    3.75
12      Eve  2023-01-13    Finance  not available  30.0      20    4.52
13      Bob  2023-01-14  Education  not available  45.0      99    4.67
14    Grace  2023-01-15    Finance  not available  30.0      58    1.87
15    Frank  2023-01-16     Health  not available  35.0      23    3.26
16    Frank  2023-01-17     Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18    Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19        NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20  Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21        NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22    Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23     Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24    Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25        NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26  Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27    Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28  Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29        NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30     Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01    Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02     Health      100063.26  40.0      84    4.89
32    Frank         NaN    Finance       92193.44  35.0      75    4.51

In [7]:
# 5. Renommer la colonne
col_name = {
    'Category' : 'Departement'
}
(
    df.rename(columns=col_name, inplace=True)
    
)
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [8]:
# 6. Informations générales
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee     23 non-null     object
 1   Date         32 non-null     object
 2   Departement  27 non-null     object
 3   Salary       33 non-null     object
 4   Age          30 non-null     float64
 5   Visits       33 non-null     int64
 6   Rating       33 non-null     float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.9+ KB

In [9]:
# 11. Séparer la date

In [10]:
# 12. Appliquer une fonction pour créer une nouvelle colonne

In [11]:
# 13. Réinitialiser l'index

In [12]:
#14 info

In [ ]:
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [14]:
df.isna().sum()

Employee       10
Date            1
Departement     6
Salary          0
Age             3
Visits          0
Rating          0
dtype: int64

In [15]:
df.isna().sum(axis=1)

0     0
1     0
2     0
3     1
4     0
5     1
6     1
7     1
8     3
9     3
10    1
11    0
12    0
13    0
14    0
15    0
16    0
17    1
18    1
19    0
20    1
21    0
22    1
23    1
24    1
25    0
26    0
27    0
28    2
29    0
30    0
31    0
32    1
dtype: int64

In [16]:
df.isna().any()

Employee        True
Date            True
Departement     True
Salary         False
Age             True
Visits         False
Rating         False
dtype: bool

In [17]:
df.isna().all(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
dtype: bool

In [18]:
df.loc[ df.index[ df.isna().all(axis=1)]]

Empty DataFrame
Columns: [Employee, Date, Departement, Salary, Age, Visits, Rating]
Index: []

In [19]:
dfcln = df.copy()

In [20]:
dfcln.fillna('Neville')

   Employee        Date Departement         Salary      Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95     40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26     40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44     35.0      75    4.51
3   Neville  2023-01-04     Finance       88141.82     45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84     35.0       6    1.22
5   Neville  2023-01-06   Education       95212.59     25.0      68    2.80
6   Neville  2023-01-07      Health        80631.1     25.0      47    1.08
7   Neville  2023-01-08      Health      112424.11     45.0       3    2.77
8   Neville  2023-01-09     Neville      117456.39  Neville      76    4.92
9   Neville  2023-01-10     Neville       76840.91  Neville      52    2.44
10  Neville  2023-01-11     Finance      105420.75     25.0      78    2.92
11    Alice  2023-01-12     Finance  not available     45.0      15    3.75
12      Eve  2023-01-13     Finance  not available     30.0      20    4.52
13      Bob  2023-01-14   Education  not available     45.0      99    4.67
14    Grace  2023-01-15     Finance  not available     30.0      58    1.87
15    Frank  2023-01-16      Health  not available     35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29     35.0      79    4.46
17  Neville  2023-01-18     Finance      108283.39     25.0      13    3.04
18      Bob  2023-01-19     Neville      104470.97     30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85     30.0      48    4.68
20    Alice  2023-01-21     Neville      118503.28     30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1     30.0      69    2.11
22  Neville  2023-01-23      Health       82303.56     40.0      41    1.04
23  Neville  2023-01-24     Finance      104637.04     40.0      35    4.37
24      Bob  2023-01-25     Neville       58279.21     35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47     40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73     25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82     40.0      94    2.59
28    Frank  2023-01-29     Neville       86529.38  Neville       0    3.21
29    Heidi  2023-01-30      Health       79026.34     45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95     40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26     40.0      84    4.89
32    Frank     Neville     Finance       92193.44     35.0      75    4.51

In [21]:
dfcln['Age'] = dfcln['Age'].fillna(dfcln['Age'].mean())

In [22]:
dfcln['Departement'] = dfcln['Departement'].fillna('Inconnu')

In [23]:
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [ ]:
df[ df.duplicated(subset=['Age'])]

   Employee        Date Departement         Salary   Age  Visits  Rating
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [ ]:
df[ df['Date'] == '2023-01-02' ]

   Employee        Date Departement     Salary   Age  Visits  Rating
1       Bob  2023-01-02      Health  100063.26  40.0      84    4.89
31      Bob  2023-01-02      Health  100063.26  40.0      84    4.89

In [ ]:
dfwp = df.drop_duplicates(subset=['Departement'])

In [ ]:
dfwp

  Employee        Date Departement     Salary   Age  Visits  Rating
0    Frank  2023-01-01     Finance   88416.95  40.0      42    3.69
1      Bob  2023-01-02      Health  100063.26  40.0      84    4.89
5      NaN  2023-01-06   Education   95212.59  25.0      68    2.80
8      NaN  2023-01-09         NaN  117456.39   NaN      76    4.92

In [ ]:
df [df['Departement'] == 'Finance']

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [ ]:
df.dtypes.value_counts()

object     4
float64    2
int64      1
Name: count, dtype: int64

In [ ]:
df.nlargest(10, 'Visits')

   Employee        Date Departement         Salary   Age  Visits  Rating
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51

In [ ]:
import numpy as np

In [ ]:
for col in df:
    print(col)

Employee
Date
Departement
Salary
Age
Visits
Rating

In [33]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
Employee,Frank,Bob,Frank,NaN,Alice,NaN,NaN,NaN,NaN,NaN,...,NaN,Bob,Grace,Frank,Heidi,Frank,Heidi,Frank,Bob,Frank
Date,2023-01-01,2023-01-02,2023-01-03,2023-01-04,2023-01-05,2023-01-06,2023-01-07,2023-01-08,2023-01-09,2023-01-10,...,2023-01-24,2023-01-25,2023-01-26,2023-01-27,2023-01-28,2023-01-29,2023-01-30,2023-01-01,2023-01-02,NaN
Departement,Finance,Health,Finance,Finance,Health,Education,Health,Health,NaN,NaN,...,Finance,NaN,Education,Finance,Education,NaN,Health,Finance,Health,Finance
Salary,88416.95,100063.26,92193.44,88141.82,79655.84,95212.59,80631.1,112424.11,117456.39,76840.91,...,104637.04,58279.21,94794.47,60034.73,116126.82,86529.38,79026.34,88416.95,100063.26,92193.44
Age,40.0,40.0,35.0,45.0,35.0,25.0,25.0,45.0,NaN,NaN,...,40.0,35.0,40.0,25.0,40.0,NaN,45.0,40.0,40.0,35.0
Visits,42,84,75,68,6,68,47,3,76,52,...,35,64,95,69,94,0,50,42,84,75
Rating,3.69,4.89,4.51,3.04,1.22,2.8,1.08,2.77,4.92,2.44,...,4.37,3.59,4.37,2.06,2.59,3.21,1.66,3.69,4.89,4.51

In [34]:
df[df.notna()]

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [35]:
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [36]:
dfwp

  Employee        Date Departement     Salary   Age  Visits  Rating
0    Frank  2023-01-01     Finance   88416.95  40.0      42    3.69
1      Bob  2023-01-02      Health  100063.26  40.0      84    4.89
5      NaN  2023-01-06   Education   95212.59  25.0      68    2.80
8      NaN  2023-01-09         NaN  117456.39   NaN      76    4.92

In [51]:
df [ df.isna().any(axis=1) ]

   Employee        Date Departement     Salary   Age  Visits  Rating
3       NaN  2023-01-04     Finance   88141.82  45.0      68    3.04
5       NaN  2023-01-06   Education   95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health    80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health  112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN  117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN   76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance  105420.75  25.0      78    2.92
17      NaN  2023-01-18     Finance  108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN  104470.97  30.0      85    4.67
20    Alice  2023-01-21         NaN  118503.28  30.0      49    1.33
22      NaN  2023-01-23      Health   82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance  104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN   58279.21  35.0      64    3.59
28    Frank  2023-01-29         NaN   86529.38   NaN       0    3.21
32    Frank         NaN     Finance   92193.44  35.0      75    4.51

In [55]:
df.isna().sum(axis=1)

0     0
1     0
2     0
3     1
4     0
5     1
6     1
7     1
8     3
9     3
10    1
11    0
12    0
13    0
14    0
15    0
16    0
17    1
18    1
19    0
20    1
21    0
22    1
23    1
24    1
25    0
26    0
27    0
28    2
29    0
30    0
31    0
32    1
dtype: int64

In [56]:
df.isna().any()

Employee        True
Date            True
Departement     True
Salary         False
Age             True
Visits         False
Rating         False
dtype: bool

In [58]:
df.isna().all(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
dtype: bool