<h1> Exercice 1 </h1>

On vous a donné un ensemble de données nécessitant un nettoyage avant l'analyse. 

Le DataFrame df contient des informations sur des employés, y compris leur catégorie de travail, leur salaire, leur âge, le nombre de visites et leur évaluation.

Avec le DataFrame df fourni, effectuez les tâches suivantes de nettoyage de données :

1) Affichez les cinq premières et les cinq dernières lignes du DataFrame.
2) Obtenez le nombre total de lignes, la taille totale du DataFrame et sa forme.
3) Utilisez describe() pour obtenir un résumé statistique du DataFrame.
4) Réordonnez les colonnes en plaçant 'Employee' comme première colonne.
5) Renommez la colonne 'Category' en 'Department'.
6) Affichez les informations générales du DataFrame avec .info().
7) Vérifiez les types de données de chaque colonne avec dtypes et convertissez la colonne 'Salary' en type numérique.
8) Gérez les valeurs manquantes : identifiez-les, comptez-les, supprimez les lignes avec des valeurs manquantes dans 'Employee', et remplacez les valeurs manquantes dans 'Age' par la médiane.
9) Identifiez et supprimez les lignes en double, en gardant la première occurrence.
10) Remplacez toutes les occurrences de 'not available' dans 'Salary' par NaN.
11) Séparez la colonne 'Date' en deux colonnes distinctes 'Year' et 'Month' en utilisant .split('-').
12) Utilisez .apply() pour créer une nouvelle colonne 'Seniority' basée sur l'âge de l'employé : "Senior" pour plus de 40 ans, "Junior" pour moins.
13) Réinitialisez l'index.
14) Affichez le résumé final de .info() pour le DataFrame nettoyé.

In [11]:
import pandas as pd
from pathlib import Path

In [12]:
file_path = Path(r'C:\Users\nmako\Documents\Data-Science-Projects-Repository\Pandas_basic\data\raw\3_cleaning_data\employes.csv')
data = pd.read_csv(file_path)
df = data.copy()

In [13]:
#1. Afficher les premières et dernières lignes
print(df.head())
print()
print(df.tail())

         Date Category Employee     Salary   Age  Visits  Rating
0  2023-01-01  Finance    Frank   88416.95  40.0      42    3.69
1  2023-01-02   Health      Bob  100063.26  40.0      84    4.89
2  2023-01-03  Finance    Frank   92193.44  35.0      75    4.51
3  2023-01-04  Finance      NaN   88141.82  45.0      68    3.04
4  2023-01-05   Health    Alice   79655.84  35.0       6    1.22

          Date Category Employee     Salary   Age  Visits  Rating
28  2023-01-29      NaN    Frank   86529.38   NaN       0    3.21
29  2023-01-30   Health    Heidi   79026.34  45.0      50    1.66
30  2023-01-01  Finance    Frank   88416.95  40.0      42    3.69
31  2023-01-02   Health      Bob  100063.26  40.0      84    4.89
32         NaN  Finance    Frank   92193.44  35.0      75    4.51

In [14]:
# 2. Nombre de lignes, taille et forme
print(df.shape)

(33, 7)

In [15]:
# 3. Résumé statistique
(
    df
    .describe()
)

             Age     Visits     Rating
count  30.000000  33.000000  33.000000
mean   35.333333  54.727273   3.291515
std     6.814454  28.318802   1.249683
min    25.000000   0.000000   1.040000
25%    30.000000  41.000000   2.440000
50%    35.000000  58.000000   3.260000
75%    40.000000  76.000000   4.510000
max    45.000000  99.000000   4.920000

In [16]:
# 4. Réordonner les colonnes
df = df[['Employee','Date', 'Category', 'Salary', 'Age', 'Visits', 'Rating']]
df

   Employee        Date   Category         Salary   Age  Visits  Rating
0     Frank  2023-01-01    Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02     Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03    Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04    Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05     Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06  Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07     Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08     Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09        NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10        NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11    Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12    Finance  not available  45.0      15    3.75
12      Eve  2023-01-13    Finance  not available  30.0      20    4.52
13      Bob  2023-01-14  Education  not available  45.0      99    4.67
14    Grace  2023-01-15    Finance  not available  30.0      58    1.87
15    Frank  2023-01-16     Health  not available  35.0      23    3.26
16    Frank  2023-01-17     Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18    Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19        NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20  Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21        NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22    Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23     Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24    Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25        NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26  Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27    Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28  Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29        NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30     Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01    Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02     Health      100063.26  40.0      84    4.89
32    Frank         NaN    Finance       92193.44  35.0      75    4.51

In [17]:
# 5. Renommer la colonne
col_name = {
    'Category' : 'Departement'
}
(
    df.rename(columns=col_name, inplace=True)
    
)
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [18]:
# 6. Informations générales
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employee     23 non-null     object
 1   Date         32 non-null     object
 2   Departement  27 non-null     object
 3   Salary       33 non-null     object
 4   Age          30 non-null     float64
 5   Visits       33 non-null     int64
 6   Rating       33 non-null     float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.9+ KB

In [19]:
# 8. Gestion des valeurs manquantes
(
    df
    .isna()
    .sum()
)

Employee       10
Date            1
Departement     6
Salary          0
Age             3
Visits          0
Rating          0
dtype: int64

In [20]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31     True
32    False
dtype: bool

In [21]:
# 10. Remplacer 'not available' par NaN
df.replace('Missing value', pd.NA, inplace=True)
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [22]:
# 11. Séparer la date

In [23]:
# 12. Appliquer une fonction pour créer une nouvelle colonne

In [24]:
# 13. Réinitialiser l'index

In [25]:
#14 info

In [26]:
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [27]:
df.isna().sum(axis=1)

0     0
1     0
2     0
3     1
4     0
5     1
6     1
7     1
8     3
9     3
10    1
11    0
12    0
13    0
14    0
15    0
16    0
17    1
18    1
19    0
20    1
21    0
22    1
23    1
24    1
25    0
26    0
27    0
28    2
29    0
30    0
31    0
32    1
dtype: int64

In [28]:
df.isna().any(axis=1)

0     False
1     False
2     False
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18     True
19    False
20     True
21    False
22     True
23     True
24     True
25    False
26    False
27    False
28     True
29    False
30    False
31    False
32     True
dtype: bool

In [29]:
df.isna().all(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
dtype: bool

In [30]:
df.columns[  df.isna().any()]

Index(['Employee', 'Date', 'Departement', 'Age'], dtype='object')

In [31]:
df[ df.columns[  df.isna().any()]]

   Employee        Date Departement   Age
0     Frank  2023-01-01     Finance  40.0
1       Bob  2023-01-02      Health  40.0
2     Frank  2023-01-03     Finance  35.0
3       NaN  2023-01-04     Finance  45.0
4     Alice  2023-01-05      Health  35.0
5       NaN  2023-01-06   Education  25.0
6       NaN  2023-01-07      Health  25.0
7       NaN  2023-01-08      Health  45.0
8       NaN  2023-01-09         NaN   NaN
9       NaN  2023-01-10         NaN   NaN
10      NaN  2023-01-11     Finance  25.0
11    Alice  2023-01-12     Finance  45.0
12      Eve  2023-01-13     Finance  30.0
13      Bob  2023-01-14   Education  45.0
14    Grace  2023-01-15     Finance  30.0
15    Frank  2023-01-16      Health  35.0
16    Frank  2023-01-17      Health  35.0
17      NaN  2023-01-18     Finance  25.0
18      Bob  2023-01-19         NaN  30.0
19    Alice  2023-01-20   Education  30.0
20    Alice  2023-01-21         NaN  30.0
21      Eve  2023-01-22     Finance  30.0
22      NaN  2023-01-23      Health  40.0
23      NaN  2023-01-24     Finance  40.0
24      Bob  2023-01-25         NaN  35.0
25    Grace  2023-01-26   Education  40.0
26    Frank  2023-01-27     Finance  25.0
27    Heidi  2023-01-28   Education  40.0
28    Frank  2023-01-29         NaN   NaN
29    Heidi  2023-01-30      Health  45.0
30    Frank  2023-01-01     Finance  40.0
31      Bob  2023-01-02      Health  40.0
32    Frank         NaN     Finance  35.0

In [32]:
df.loc[df.index[ df.isna().any(axis=1)]]

   Employee        Date Departement     Salary   Age  Visits  Rating
3       NaN  2023-01-04     Finance   88141.82  45.0      68    3.04
5       NaN  2023-01-06   Education   95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health    80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health  112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN  117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN   76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance  105420.75  25.0      78    2.92
17      NaN  2023-01-18     Finance  108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN  104470.97  30.0      85    4.67
20    Alice  2023-01-21         NaN  118503.28  30.0      49    1.33
22      NaN  2023-01-23      Health   82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance  104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN   58279.21  35.0      64    3.59
28    Frank  2023-01-29         NaN   86529.38   NaN       0    3.21
32    Frank         NaN     Finance   92193.44  35.0      75    4.51

In [33]:
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [34]:
dfcln_Empl = df.dropna(subset=['Employee'])
dfcln_Empl

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [35]:
dfcln = df.dropna(axis = 1)
dfcln

           Salary  Visits  Rating
0        88416.95      42    3.69
1       100063.26      84    4.89
2        92193.44      75    4.51
3        88141.82      68    3.04
4        79655.84       6    1.22
5        95212.59      68    2.80
6         80631.1      47    1.08
7       112424.11       3    2.77
8       117456.39      76    4.92
9        76840.91      52    2.44
10      105420.75      78    2.92
11  not available      15    3.75
12  not available      20    4.52
13  not available      99    4.67
14  not available      58    1.87
15  not available      23    3.26
16       51415.29      79    4.46
17      108283.39      13    3.04
18      104470.97      85    4.67
19      110900.85      48    4.68
20      118503.28      49    1.33
21       105941.1      69    2.11
22       82303.56      41    1.04
23      104637.04      35    4.37
24       58279.21      64    3.59
25       94794.47      95    4.37
26       60034.73      69    2.06
27      116126.82      94    2.59
28       86529.38       0    3.21
29       79026.34      50    1.66
30       88416.95      42    3.69
31      100063.26      84    4.89
32       92193.44      75    4.51

In [36]:
#df.dropna() : removes all rows with any Nan values
#df.dropna(axis=1) : removes columns with an Nan values
#dropna() : returns a new datasets,

In [37]:
dfcln = df.dropna(how='all') # removes lines with all values that are equal to nan
dfcln

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [38]:
dfcln = df.dropna(axis=1, how='all')
dfcln

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [39]:
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [40]:
df.isna().mean()*100

Employee       30.303030
Date            3.030303
Departement    18.181818
Salary          0.000000
Age             9.090909
Visits          0.000000
Rating          0.000000
dtype: float64

In [ ]:
df.isna()

Employee       10
Date            1
Departement     6
Salary          0
Age             3
Visits          0
Rating          0
dtype: int64

In [53]:
df.dropna(thresh=30, axis=1)

          Date         Salary   Age  Visits  Rating
0   2023-01-01       88416.95  40.0      42    3.69
1   2023-01-02      100063.26  40.0      84    4.89
2   2023-01-03       92193.44  35.0      75    4.51
3   2023-01-04       88141.82  45.0      68    3.04
4   2023-01-05       79655.84  35.0       6    1.22
5   2023-01-06       95212.59  25.0      68    2.80
6   2023-01-07        80631.1  25.0      47    1.08
7   2023-01-08      112424.11  45.0       3    2.77
8   2023-01-09      117456.39   NaN      76    4.92
9   2023-01-10       76840.91   NaN      52    2.44
10  2023-01-11      105420.75  25.0      78    2.92
11  2023-01-12  not available  45.0      15    3.75
12  2023-01-13  not available  30.0      20    4.52
13  2023-01-14  not available  45.0      99    4.67
14  2023-01-15  not available  30.0      58    1.87
15  2023-01-16  not available  35.0      23    3.26
16  2023-01-17       51415.29  35.0      79    4.46
17  2023-01-18      108283.39  25.0      13    3.04
18  2023-01-19      104470.97  30.0      85    4.67
19  2023-01-20      110900.85  30.0      48    4.68
20  2023-01-21      118503.28  30.0      49    1.33
21  2023-01-22       105941.1  30.0      69    2.11
22  2023-01-23       82303.56  40.0      41    1.04
23  2023-01-24      104637.04  40.0      35    4.37
24  2023-01-25       58279.21  35.0      64    3.59
25  2023-01-26       94794.47  40.0      95    4.37
26  2023-01-27       60034.73  25.0      69    2.06
27  2023-01-28      116126.82  40.0      94    2.59
28  2023-01-29       86529.38   NaN       0    3.21
29  2023-01-30       79026.34  45.0      50    1.66
30  2023-01-01       88416.95  40.0      42    3.69
31  2023-01-02      100063.26  40.0      84    4.89
32         NaN       92193.44  35.0      75    4.51

In [54]:
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [63]:
df.loc[[3],['Employee']].fillna('Neville')

  Employee
3  Neville

In [66]:
df.loc[[9],:].fillna('Neville')

  Employee        Date Departement    Salary      Age  Visits  Rating
9  Neville  2023-01-10     Neville  76840.91  Neville      52    2.44