<h1> Exercice 1 </h1>

On vous a donné un ensemble de données nécessitant un nettoyage avant l'analyse. 

Le DataFrame df contient des informations sur des employés, y compris leur catégorie de travail, leur salaire, leur âge, le nombre de visites et leur évaluation.

Avec le DataFrame df fourni, effectuez les tâches suivantes de nettoyage de données :

1) Affichez les cinq premières et les cinq dernières lignes du DataFrame.
2) Obtenez le nombre total de lignes, la taille totale du DataFrame et sa forme.
3) Utilisez describe() pour obtenir un résumé statistique du DataFrame.
4) Réordonnez les colonnes en plaçant 'Employee' comme première colonne.
5) Renommez la colonne 'Category' en 'Department'.
6) Affichez les informations générales du DataFrame avec .info().
7) Vérifiez les types de données de chaque colonne avec dtypes et convertissez la colonne 'Salary' en type numérique.
8) Gérez les valeurs manquantes : identifiez-les, comptez-les, supprimez les lignes avec des valeurs manquantes dans 'Employee', et remplacez les valeurs manquantes dans 'Age' par la médiane.
9) Identifiez et supprimez les lignes en double, en gardant la première occurrence.
10) Remplacez toutes les occurrences de 'not available' dans 'Salary' par NaN.
11) Séparez la colonne 'Date' en deux colonnes distinctes 'Year' et 'Month' en utilisant .split('-').
12) Utilisez .apply() pour créer une nouvelle colonne 'Seniority' basée sur l'âge de l'employé : "Senior" pour plus de 40 ans, "Junior" pour moins.
13) Réinitialisez l'index.
14) Affichez le résumé final de .info() pour le DataFrame nettoyé.

In [ ]:
import pandas as pd

df = pd.read_csv('employes.csv')

In [ ]:
#1. Afficher les premières et dernières lignes

In [ ]:
# 2. Nombre de lignes, taille et forme

In [ ]:
# 3. Résumé statistique

In [ ]:
# 4. Réordonner les colonnes

In [ ]:
# 5. Renommer la colonne

In [ ]:
# 6. Informations générales

In [ ]:
#7 Vérifiez les types de données de chaque colonne avec dtypes et convertissez la colonne 'Salary' en type numérique

In [ ]:
# 8. Gestion des valeurs manquantes

In [ ]:
# 9. Gestion des doublons

In [ ]:
# 10. Remplacer 'not available' par NaN

In [ ]:
# 11. Séparer la date

In [ ]:
# 12. Appliquer une fonction pour créer une nouvelle colonne

In [ ]:
# 13. Réinitialiser l'index

In [ ]:
#14 info