<h1> Exercice 1 </h1>

On vous a donné un ensemble de données nécessitant un nettoyage avant l'analyse. 

Le DataFrame df contient des informations sur des employés, y compris leur catégorie de travail, leur salaire, leur âge, le nombre de visites et leur évaluation.

Avec le DataFrame df fourni, effectuez les tâches suivantes de nettoyage de données :

1) Affichez les cinq premières et les cinq dernières lignes du DataFrame.
2) Obtenez le nombre total de lignes, la taille totale du DataFrame et sa forme.
3) Utilisez describe() pour obtenir un résumé statistique du DataFrame.
4) Réordonnez les colonnes en plaçant 'Employee' comme première colonne.
5) Renommez la colonne 'Category' en 'Department'.
6) Affichez les informations générales du DataFrame avec .info().
7) Vérifiez les types de données de chaque colonne avec dtypes et convertissez la colonne 'Salary' en type numérique.
8) Gérez les valeurs manquantes : identifiez-les, comptez-les, supprimez les lignes avec des valeurs manquantes dans 'Employee', et remplacez les valeurs manquantes dans 'Age' par la médiane.
9) Identifiez et supprimez les lignes en double, en gardant la première occurrence.
10) Remplacez toutes les occurrences de 'not available' dans 'Salary' par NaN.
11) Séparez la colonne 'Date' en deux colonnes distinctes 'Year' et 'Month' en utilisant .split('-').
12) Utilisez .apply() pour créer une nouvelle colonne 'Seniority' basée sur l'âge de l'employé : "Senior" pour plus de 40 ans, "Junior" pour moins.
13) Réinitialisez l'index.
14) Affichez le résumé final de .info() pour le DataFrame nettoyé.

In [2]:
import pandas as pd
from pathlib import Path

In [4]:
file_path = Path(r'C:\Users\nmako\Documents\Data-Science-Projects-Repository\Pandas_basic\data\raw\3_cleaning_data\employes.csv')
data = pd.read_csv(file_path)
df = data.copy()

In [7]:
#1. Afficher les premières et dernières lignes
print(df.head())
print()
print(df.tail())

         Date Category Employee     Salary   Age  Visits  Rating
0  2023-01-01  Finance    Frank   88416.95  40.0      42    3.69
1  2023-01-02   Health      Bob  100063.26  40.0      84    4.89
2  2023-01-03  Finance    Frank   92193.44  35.0      75    4.51
3  2023-01-04  Finance      NaN   88141.82  45.0      68    3.04
4  2023-01-05   Health    Alice   79655.84  35.0       6    1.22

          Date Category Employee     Salary   Age  Visits  Rating
28  2023-01-29      NaN    Frank   86529.38   NaN       0    3.21
29  2023-01-30   Health    Heidi   79026.34  45.0      50    1.66
30  2023-01-01  Finance    Frank   88416.95  40.0      42    3.69
31  2023-01-02   Health      Bob  100063.26  40.0      84    4.89
32         NaN  Finance    Frank   92193.44  35.0      75    4.51

In [11]:
# 2. Nombre de lignes, taille et forme
print(df.shape)

(33, 7)

In [18]:
# 3. Résumé statistique
(
    df
    .describe()
)

             Age     Visits     Rating
count  30.000000  33.000000  33.000000
mean   35.333333  54.727273   3.291515
std     6.814454  28.318802   1.249683
min    25.000000   0.000000   1.040000
25%    30.000000  41.000000   2.440000
50%    35.000000  58.000000   3.260000
75%    40.000000  76.000000   4.510000
max    45.000000  99.000000   4.920000

In [23]:
# 4. Réordonner les colonnes
df = df[['Employee','Date', 'Category', 'Salary', 'Age', 'Visits', 'Rating']]
df

   Employee        Date   Category         Salary   Age  Visits  Rating
0     Frank  2023-01-01    Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02     Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03    Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04    Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05     Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06  Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07     Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08     Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09        NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10        NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11    Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12    Finance  not available  45.0      15    3.75
12      Eve  2023-01-13    Finance  not available  30.0      20    4.52
13      Bob  2023-01-14  Education  not available  45.0      99    4.67
14    Grace  2023-01-15    Finance  not available  30.0      58    1.87
15    Frank  2023-01-16     Health  not available  35.0      23    3.26
16    Frank  2023-01-17     Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18    Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19        NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20  Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21        NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22    Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23     Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24    Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25        NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26  Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27    Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28  Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29        NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30     Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01    Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02     Health      100063.26  40.0      84    4.89
32    Frank         NaN    Finance       92193.44  35.0      75    4.51

In [27]:
# 5. Renommer la colonne
col_name = {
    'Category' : 'Departement'
}
(
    df.rename(columns=col_name, inplace=True)
    
)
df

   Employee        Date Departement         Salary   Age  Visits  Rating
0     Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
1       Bob  2023-01-02      Health      100063.26  40.0      84    4.89
2     Frank  2023-01-03     Finance       92193.44  35.0      75    4.51
3       NaN  2023-01-04     Finance       88141.82  45.0      68    3.04
4     Alice  2023-01-05      Health       79655.84  35.0       6    1.22
5       NaN  2023-01-06   Education       95212.59  25.0      68    2.80
6       NaN  2023-01-07      Health        80631.1  25.0      47    1.08
7       NaN  2023-01-08      Health      112424.11  45.0       3    2.77
8       NaN  2023-01-09         NaN      117456.39   NaN      76    4.92
9       NaN  2023-01-10         NaN       76840.91   NaN      52    2.44
10      NaN  2023-01-11     Finance      105420.75  25.0      78    2.92
11    Alice  2023-01-12     Finance  not available  45.0      15    3.75
12      Eve  2023-01-13     Finance  not available  30.0      20    4.52
13      Bob  2023-01-14   Education  not available  45.0      99    4.67
14    Grace  2023-01-15     Finance  not available  30.0      58    1.87
15    Frank  2023-01-16      Health  not available  35.0      23    3.26
16    Frank  2023-01-17      Health       51415.29  35.0      79    4.46
17      NaN  2023-01-18     Finance      108283.39  25.0      13    3.04
18      Bob  2023-01-19         NaN      104470.97  30.0      85    4.67
19    Alice  2023-01-20   Education      110900.85  30.0      48    4.68
20    Alice  2023-01-21         NaN      118503.28  30.0      49    1.33
21      Eve  2023-01-22     Finance       105941.1  30.0      69    2.11
22      NaN  2023-01-23      Health       82303.56  40.0      41    1.04
23      NaN  2023-01-24     Finance      104637.04  40.0      35    4.37
24      Bob  2023-01-25         NaN       58279.21  35.0      64    3.59
25    Grace  2023-01-26   Education       94794.47  40.0      95    4.37
26    Frank  2023-01-27     Finance       60034.73  25.0      69    2.06
27    Heidi  2023-01-28   Education      116126.82  40.0      94    2.59
28    Frank  2023-01-29         NaN       86529.38   NaN       0    3.21
29    Heidi  2023-01-30      Health       79026.34  45.0      50    1.66
30    Frank  2023-01-01     Finance       88416.95  40.0      42    3.69
31      Bob  2023-01-02      Health      100063.26  40.0      84    4.89
32    Frank         NaN     Finance       92193.44  35.0      75    4.51

In [ ]:
# 6. Informations générales

In [ ]:
#7 Vérifiez les types de données de chaque colonne avec dtypes et convertissez la colonne 'Salary' en type numérique

In [ ]:
# 8. Gestion des valeurs manquantes

In [ ]:
# 9. Gestion des doublons

In [ ]:
# 10. Remplacer 'not available' par NaN

In [ ]:
# 11. Séparer la date

In [ ]:
# 12. Appliquer une fonction pour créer une nouvelle colonne

In [ ]:
# 13. Réinitialiser l'index

In [ ]:
#14 info