<h1>Exercice</h1>

Vous travaillez pour une société de distribution de films. Vous avez un DataFrame movies qui contient des données sur les sorties de films les plus rentables. Vous devez filtrer, trier et transformer ces données pour préparer votre analyse.

<b>Énoncé de l'Exercice</b>

Avec le DataFrame movies, réalisez les opérations suivantes en utilisant pandas :
1) Filtrez et affichez les films dont le total des recettes (Total Gross) dépasse 800 millions de dollars.
2) Filtrez et affichez les films dont le nom contient le mot "Star".
3) Filtrez et affichez les films qui appartiennent aux distributeurs 'Warner Bros.' ou 'Universal Pictures'.
4) Utilisez une combinaison de filtres pour sélectionner les films sortis après le 01-01-2015 (> '2015-01-01') avec une note (% of Total) supérieure à 30%.
5) Filtrez les films par leur note en utilisant .query() pour ceux ayant une note entre 25% et 35% inclus.
6) Identifiez les films sortis après 2010 qui ont une recette moyenne par salle supérieure à la médiane de tous les films.
7) Triez les films par leur Total Gross en ordre décroissant.
8) Triez les films par leur Date de sortie en ordre ascendant, en gérant correctement les valeurs manquantes.
9) Effectuez un tri multicritères : d'abord par Distributor (ordre alphabétique) puis par Opening en ordre décroissant.
10) Trier les films par la longueur de leur nom (Release) en utilisant une fonction de clé personnalisée qui trie les films par le nombre de caractères, en ordre décroissant. 
11) Créez une nouvelle colonne 'Revenue per Theater' en divisant Total Gross par Theaters.
12) créez une nouvelle colonne 'Is Blockbuster' qui marque 'Yes' pour les films avec plus de 40% de Total Gross et 'No' pour les autres.
13) Ajoutez une colonne 'Profitability' calculée comme le rapport (division) entre le Total Gross et Opening. Cela peut servir à évaluer l'endurance du film au box-office après le week-end d'ouverture.
14) Créez une nouvelle colonne 'Genre' en utilisant la méthode .map() avec une fonction qui assigne 'Action' aux films avec le mot 'War' ou 'Battle' dans leur titre, 'Adventure' pour les films avec 'Star' ou 'Journey', et 'Other' pour tous les autres films.
15) Enregristrez le dataframe dans un csv 'Top_Highest_Openings_Modeled.csv'

In [21]:
import pandas as pd

movies = pd.read_csv(r'C:\Users\nmako\Documents\Data-Science-Projects-Repository\Pandas_basic\data\raw\4\Top_Highest_Openings.csv')
movies['Date'] = pd.to_datetime(movies['Date'], dayfirst=True)

movies.head(3)

,Release,Opening,Total Gross,% of Total,Theaters,Average,Date,Distributor
0,Avengers: Endgame,357115007,858373000,41.6,4662,76601,2019-04-26,Walt Disney Studios Motion Pictures
1,Spider-Man: No Way Home,260138569,804793477,32.3,4336,59995,2021-12-17,Sony Pictures Releasing
2,Avengers: Infinity War,257698183,678815482,38.0,4474,57599,2018-04-27,Walt Disney Studios Motion Pictures

In [22]:
df = movies.copy()
df.dtypes

Release                object
Opening                 int64
Total Gross             int64
% of Total            float64
Theaters                int64
Average                 int64
Date           datetime64[ns]
Distributor            object
dtype: object

In [23]:
# 1. Filtrez par Total Gross > 800M
filt_800M = df['Total Gross'] > 800000000
df[filt_800M]

,Release,Opening,Total Gross,% of Total,Theaters,Average,Date,Distributor
0,Avengers: Endgame,357115007,858373000,41.6,4662,76601,2019-04-26,Walt Disney Studios Motion Pictures
1,Spider-Man: No Way Home,260138569,804793477,32.3,4336,59995,2021-12-17,Sony Pictures Releasing
3,Star Wars: Episode VII - The Force Awakens,247966675,936662225,26.5,4134,59982,2015-12-18,Walt Disney Studios Motion Pictures

In [24]:
# 2. Filtrez par nom contenant "Star"
filt_star = df['Release'].str.contains('Star')
df[filt_star]

,Release,Opening,Total Gross,% of Total,Theaters,Average,Date,Distributor
3,Star Wars: Episode VII - The Force Awakens,247966675,936662225,26.5,4134,59982,2015-12-18,Walt Disney Studios Motion Pictures
4,Star Wars: Episode VIII - The Last Jedi,220009584,620181382,35.5,4232,51987,2017-12-15,Walt Disney Studios Motion Pictures
14,Star Wars: Episode IX - The Rise of Skywalker,177383864,515202542,34.4,4406,40259,2019-12-20,Walt Disney Studios Motion Pictures
23,Rogue One: A Star Wars Story,155081681,532177324,29.1,4157,37306,2016-12-16,Walt Disney Studios Motion Pictures
62,Star Wars: Episode III - Revenge of the Sith,108435841,380270577,28.5,3661,29619,2005-05-19,Twentieth Century Fox
108,Solo: A Star Wars Story,84420489,213767512,39.5,4381,19269,2018-05-25,Walt Disney Studios Motion Pictures
116,Star Wars: Episode II - Attack of the Clones,80027814,302191252,26.5,3161,25317,2002-05-16,Twentieth Century Fox
128,Star Trek,75204289,257730019,29.2,3849,19538,2009-05-08,Paramount Pictures
150,Star Trek Into Darkness,70165559,228778661,30.7,3868,18140,2013-05-16,Paramount Pictures
181,Star Wars: Episode I - The Phantom Menace,64820970,431088295,15.0,2970,21825,1999-05-19,Twentieth Century Fox
206,Star Trek Beyond,59253211,158848340,37.3,3928,15084,2016-07-22,Paramount Pictures
300,The Fault in Our Stars,48002523,124872350,38.4,3173,15128,2014-06-06,Twentieth Century Fox
360,A Star Is Born,42908051,215288866,19.9,3686,11640,2018-10-05,Warner Bros.
473,Star Wars: Episode IV - A New Hope1997 Special...,35906661,138257865,26.0,2104,17065,1997-01-31,Twentieth Century Fox
589,Star Trek: First Contact,30716131,92027888,33.4,2812,10923,1996-11-22,Paramount Pictures
687,Starsky & Hutch,28103367,88237754,31.8,3185,8823,2004-03-05,Warner Bros.
892,Star Trek: Generations,23116394,75671125,30.6,2659,8693,1994-11-18,Paramount Pictures
897,Star Wars: Episode VI - Return of the Jedi,23019618,252583617,9.1,1002,22973,1983-05-25,Twentieth Century Fox
928,Star Wars: Episode I - The Phantom Menace2012 ...,22469932,43456382,51.7,2655,8463,2012-02-10,Twentieth Century Fox
950,Starship Troopers,22058773,54814377,40.2,2971,7424,1997-11-07,Sony Pictures Releasing
951,Star Trek: Insurrection,22052836,70187658,31.4,2620,8417,1998-12-11,Paramount Pictures
955,Star Wars: Episode V - The Empire Strikes Back...,21975993,67597694,32.5,2111,10410,1997-02-21,Twentieth Century Fox

In [53]:
# 3. Filtrez par distributeur
distrib = ['Warner Bros.', 'Universal Pictures']
filt = df['Distributor'].isin(distrib)
df[filt]

,Release,Opening,Total Gross,% of Total,Theaters,Average,Date,Distributor
5,Jurassic World,208806270,652270625,32.0,4274,48855,2015-06-12,Universal Pictures
17,Harry Potter and the Deathly Hallows: Part 2,169189427,381011219,44.4,4375,38671,2011-07-15,Warner Bros.
18,Batman v Superman: Dawn of Justice,166007347,330360194,50.2,4242,39134,2016-03-25,Warner Bros.
19,Barbie,162022044,636238421,25.5,4243,38185,2023-07-21,Warner Bros.
20,The Dark Knight Rises,160887295,448139099,35.9,4404,36532,2012-07-20,Warner Bros.
...,...,...,...,...,...,...,...,...
984,Tammy,21577049,84525432,25.5,3465,6227,2014-07-02,Warner Bros.
986,"You, Me and Dupree",21525560,75628110,28.5,3131,6874,2006-07-14,Universal Pictures
988,American Reunion,21514080,57011521,37.7,3192,6740,2012-04-06,Universal Pictures
990,The 40-Year-Old Virgin,21422815,109449237,19.6,2845,7529,2005-08-19,Universal Pictures
992,Good Boys,21402605,83140306,25.7,3204,6679,2019-08-16,Universal Pictures

In [26]:
# 4. Combinaison de filtres pour % of Total et Date

In [27]:
# 5. Filtrez par note avec .query()

In [28]:
# 6. films sortis après 2010 qui ont une recette moyenne par salle supérieure à la médiane de tous les films

In [29]:
# 7. Tri par Total Gross

In [30]:
# 8. Tri par Date avec gestion des NaN

In [31]:
# 9. Tri multicritères par Distributor et Opening

In [32]:
# 10. Trier les films par la longueur de leur nom (Release)

In [33]:
# 11. Nouvelle colonne Revenue per Theater

In [34]:
# 12. Nouvelle colonne Is Blockbuster avec .map()

In [35]:
# 13. colonne 'Profitability' calculée comme le rapport entre le Total Gross et Opening

In [36]:
# 14. Créez une nouvelle colonne 'Genre'

In [37]:
# 15. enregistrement